.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
	
	animation: timesOfDay 80s infinite linear; 
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
        
Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;
	
	animation: shipToLeft 50s infinite linear;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
	
	animation: shipSmokes 2s infinite ease-out;
}

.smoke-1 {
    top: -25px;
    right: 44px;
}

.smoke .smoke-1 {
	animation-delay: 1.5s;
}

.smoke-2 {
    top: -25px;
    right: 42px;
}

.smoke .smoke-2 {
	animation-delay: 0.7s;
}

.smoke-3 {
    top: -25px;
    right: 49px;
}

.sun {
    position: absolute;
    top: 30px;
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
	
	animation: sunAnimation 80s infinite linear,
			   sunRaysAnimation 12s infinite linear;
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
	
	animation: cloudsToRight 20s infinite -45s linear;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;
	transform: scale(-0.3, 0.3);
	animation-duration: 40s;
}

.cloud-2 {
    top: 50px;
	transform: scale(0.45);
	animation-duration: 33s;
}

.cloud-3 {
    top: 100px;
	transform: scale(-0.55, 0.55);
	animation-duration: 25s;
}

.cloud-4 {
    top: 170px;
	animation-duration: 20s;
	transform: scale(0.8);
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
	
	animation: waves 5s infinite;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}

@keyframes cloudsToRight {
	100% {
		left: 100%;
	}
}

@keyframes shipToLeft {
	0% {
		right: -150px;
	}
	100% {
		right: 100%;
	}
}

@keyframes shipSmokes {
	100% {
		opacity: 0;
		top: -45px;
		transform: scale(1.5);
	}
}

@keyframes sunAnimation {
	0% {
		right: 115%;
		top: 160px;
	}
	25% {
		right: 50%;
		top: 30px;
	}
	
	/* Night part */
	
	50% {				
		right: -100px;
		top: 160px;
	}
	100% {
		right: -150px;
		top: 160px;
	}					
}

@keyframes sunRaysAnimation {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes timesOfDay {
	0%, 35% {
		background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
	}
	
	/* Dusk */
	
	55% {
		background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
	}
	
	/* Night */
	
	80% {
		background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
	}
	
	/* Dawn */
	
	100% {
		background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
	}
}

@keyframes waves {
	0% {
		border-top: 1px solid #2a94d6;
	}
	
	50%, 70% {
		border-top: 3px solid #1d7fbb;
	}
	
	100% {
		border-top: 1px solid #2a94d6;
	}
}